.btnWrapper {
  margin-top: 3rem;
  width: 20rem;
}
.btnWrapper a {
  position: relative;
  color: var(--link);
  font-weight: bold;
}
.btnWrapper a::after {
  content: "";
  display: block;
  background: var(--link);
  height: 2px;
  width: 2.75rem;
  position: absolute;
  right: 0px;
}

h1 {
  margin-bottom: 1rem !important;
}
.homeText p {
  line-height: 1.6;
}

.successWrapper {
  position: absolute;
  top: 0px;
  width: 100%;
  height: calc(100vh - 4rem);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: changeOpacity forwards 3s;
  background: transparent;
}
.success {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-blue);
  width: 40rem;
  height: 20rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 7px var(--gray-three);
}
.success h2 {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}
/* .tips {
  border: 1px solid var(--gray-eee);
  border-radius: 0.4rem;
  width: 50%;
} */
.tips ul li {
  position: relative;
  padding: 0.2rem 0;
  margin-left: 1.5rem;
  margin-bottom: 0.4rem;
}
.tips li::before {
  content: "";
  display: block;
  position: absolute;
  background: var(--text-color);
  border-radius: 50%;
  width: 0.4rem;
  height: 0.4rem;
  top: 0.6rem;
  left: -0.875rem;
}
@keyframes animaTop {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes changeOpacity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
