.header {
  box-shadow: 0px 2px 3px var(--gray-ddd);
  border-bottom: 1px solid rgba(27, 27, 27, 0.2);
  position: fixed;
  width: 100%;
  z-index: 100;
  background: var(--gradient-180);
  top: 0;
}
.nav {
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 30px;
  width: 32px;
  -webkit-clip-path: polygon(
    0 0,
    0 100%,
    22% 100%,
    50% 49%,
    71% 100%,
    100% 100%,
    100% 0,
    49% 37%
  );
  clip-path: polygon(
    0 0,
    0 100%,
    22% 100%,
    50% 49%,
    71% 100%,
    100% 100%,
    100% 0,
    49% 37%
  );
  background: var(--logo);
  transition: 0.2s;
}
.logo:hover {
  background: var(--hover-green);
}
.welcome {
  color: var(--link);
  transition: 0.3s;
}
.right {
  position: relative;
  display: flex;
  align-items: center;
}
.logout {
  background: var(--gradient-360);
  border: 1px solid transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  color: var(--link);
  border-left: 1px solid var(--gray-eee);
  margin-left: 0.6rem;
  padding: 1.2rem 0.5rem 1.2rem 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: 0.2s;
}
.logout:hover {
  background: var(--gray-ddd);
  color: var(--gray-777);
}

.right a:nth-child(even) {
  margin: 0 0.1rem;
}

.link {
  color: var(--link);
  padding: 1.2rem 0.5rem 1.2rem 0.5rem;
  transition: 0.2s;
  height: 4rem;
}

.active {
  border-bottom: 3px solid var(--active-border);
  font-weight: bold;
  animation: opacity forwards 0.3s;
  background-color: transparent !important;
  padding: 1.2rem 0.5rem 1.2rem 0.5rem;
  color: var(--active-text-color);
}

.under {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--hover-green);
}
.isHidden {
  display: none;
}

@keyframes opacity {
  from {
    background: var(--gray-eee);
  }
  to {
    background: var(--gray-ddd);
  }
}

@media (max-width: 672px) {
  .welcome {
    display: none;
  }
}
@media (max-width: 466px) {
  .left {
    display: none;
  }
  .right,
  .logout {
    font-size: 0.9rem;
  }
}

.mode {
  position: relative;
  margin-right: 2rem;
  outline: none;
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  right: 0;
  outline: none;
  color: var(--input-border);
  background: var(--gradient-180);
  transition: 0.3s;
}
.mode:focus,
.mode:hover {
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}
.dark {
  background: url('./../../assets/dark.svg') no-repeat;
  
}
.dark:hover{
  background-color: rgba(255,140,0, 0.4);
}
.light {
  background: url('./../../assets/light.svg') no-repeat;
}
.light:hover {
  background-color: rgba(255,140,0, 0.2);
}
