.tabWrapper {
  width: 40rem;
  margin: 0px auto;
  animation: animaTop 0.3s forwards;
}

@keyframes animaTop {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.form {
  width: 100%;
  border: 1px solid var(--main-blue);
  border-radius: 0.4rem;
  padding: 2rem 1rem 1rem;
  box-shadow: 3px 3px 5px var(--gray-three);
  box-sizing: border-box;
  background: var(--super-light-blue);
}

.h1 {
  text-align: center;
  margin-bottom: 1rem;
}

.doctor {
  width: 100%;
}

.medicationIndicationWrapper {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.medId {
  display: none;
  text-align: right;
}
.medId p {
  color: var(--hover-blue);
  /* background: var(--gray-four);
  border: 1px solid var(--gray-three);
  border-radius: 0.4rem;
  padding: 0.3rem 1rem; */
}
.medId p span {
  border: 1px solid var(--gray-three);
  border-radius: 0.4rem;
  padding: 0.3rem 1rem;
}

.medicationWrapper,
.indicationWrapper {
  width: 48%;
  transition: 0.2s;
}

.dosageDateWrapper {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.dosageWrapper {
  display: flex;
  justify-content: space-between;
  width: 48%;
  transition: 0.2s;
}
.dosageInputWrapper {
  width: 30%;
}
.amountTypeWrapper {
  width: 67%;
}

.indicationWrapper {
  width: 48%;
}

.startDaysAmountWrapper {
  position: relative;
  width: 48%;
  display: flex;
  justify-content: space-between;
  transition: 0.2s;
}

.dateWrapper {
  width: 56%;
}

.daysWrapper {
  width: 40%;
}

.timeSpaceHoursWrapper {
  display: flex;
  justify-content: space-between;
  width: 48%;
}

.hoursMinutes {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.hours,
.minutes {
  width: 48%;
  transition: 0.3s;
}

.hoursAlone {
  transition: 0.3s;
  width: 100%;
}
.spaceWrapper {
  width: 48%;
}

.hoursSpaceWrapper {
  width: 48%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.spaceWrapper {
  width: 37%;
}
.dropdownSpaceWrapper {
  width: 30%;
}

.btnWrapper {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.checkboxWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  height: 2rem;
  bottom: -1.2rem;
  right: 9px;
  /* border: 1px solid red; */
}

@media (max-width: 700px) {
  .checkboxWrapper {
    left: 0;
  }
}
.btnCheckbox {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}
.checkbox {
  border: 1px solid var(--hover-blue);
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.6rem;
  border-radius: 0.3rem;
  background: var(--gray-five);
}

.checkbox:hover,
.checkboxWrapper img:hover {
  outline: none;
  border-color: var(--hover-blue);
  background: white;
  box-shadow: 0 0 0 2px var(--main-blue);
}
.checkboxWrapper p {
  color: var(--hover-blue);
}
.checkboxWrapper img {
  border-radius: 0.3rem;
  margin-right: 0.5rem;
  width: 1.3rem;
  height: 1.3rem;
}

@media (max-width: 660px) {
  .medicationIndicationWrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .medicationWrapper {
    margin-bottom: 1rem;
  }
  .medicationWrapper,
  .indicationWrapper {
    width: 100%;
  }
  .dosageDateWrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .dosageWrapper {
    margin-bottom: 1rem;
  }
  .dosageWrapper {
    width: 100%;
  }
  .startDaysAmountWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    column-gap: 1rem;
    width: 100%;
  }
  .hoursSpaceWrapper,
  .dateWrapper {
    width: 100%;
  }
  .daysWrapper {
    width: 100%;
  }
  .checkboxWrapper {
    position: relative;
    /* justify-content: end; */
    top: -0.8rem;
    bottom: initial;
    grid-column-start: 2;
  }
  .hoursSpaceWrapper {
    margin-top: 0.5rem;
  }
}

.disabledInput {
  border: 1px solid var(--gray-three);
}
