.inputWrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.4rem;
  border: var(--main-blue) 1px solid;
  background: var(--gray-five);
  height: 3rem;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: var(--hover-blue);
  background: white;
  box-shadow: 0 0 0 2px var(--main-blue);
}

.label {
  display: block;
  position: relative;
  font-weight: bold;
  top: -2px;
}
.error {
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
.icon {
  position: absolute;
  height: 3rem;
  width: 3.3rem;
  right: 0;
  top: 1.2rem;
  padding: 10px 12px;
  z-index: 10;
}

.icon:hover {
  cursor: pointer;
}

.disabledInput input {
  border-color: var(--gray-two);
  color: var(--gray-five);
}
.disabledInput label {
  color: var(--gray-two);
}

.disabledInput input:focus,
.disabledInput input:hover {
  background: var(--gray-five);
  border: 1px solid var(--gray-two);
  box-shadow: none;
}

