@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

html {
  scroll-behavior: smooth;
}

:root {
  --type-first: "Roboto", sans-serif;

  /* LIGHT MODE -------------- */
  --body-background: #fff;

  /* GRAY SCALE  */
  --gray-bbb: #bbb;
  --gray-ccc: #ccc;
  --gray-ddd: #ddd;
  --gray-eee: #eee;
  --gray-333: #333;
  --gray-777: #777;

  /* BLUE SCALE */
  --gray-blue: #c7d6e0;
  --dark-blue: #001f36;
  --main-blue: #1468a5;
  --hover-blue: #004374;
  --middle-blue: #8cd3f1;
  --light-blue: #e9f1f5;
  --super-light-blue: #f0f7fc;

  /* LINK & TEXT  */
  --text-color: #001423;
  --link: #1468a5;
  --active-background: ;
  --active-border: #1468a5;
  --text-error: #f31;

  /* LOGO & CONTRAST */
  --logo: #1468a5;
  --hover-green: #70e9b0;

  /* INPUTS ----------- */
  --input-txt: #777;
  --input-placeholder: #777;
  --input-border: #1468a5;
  --input-background: #eee;
  --input-focus-background: #fff;
  --input-focus-border: #004374;
  --input-disabled-border: #bbb;
  --input-disabled-text-color: #eee;

  /* BTNS -------- */
  --btn-background: #1468a5;
  --btn-text-hover: #eee;
  --btn-background-hover: #004374;
  --btn-disabled: #bbb:

  /* GRADIENT----------  */
  --gradient-180: linear-gradient(
    180deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(238, 238, 238, 1) 32%,
    rgba(221, 221, 221, 1) 98%,
    rgba(238, 238, 238, 1) 100%
  );
  --gradient-360: linear-gradient(
    360deg,
    rgba(238, 238, 238, 1) 0%,
    rgba(238, 238, 238, 1) 32%,
    rgba(221, 221, 221, 1) 98%,
    rgba(238, 238, 238, 1) 100%
  );

  /* 

  //    DARK MODE ----------------
  --body-background: #00101b;
   gray scale
  --gray-bbb: #bbb;
  --gray-ccc: #ccc;
  --gray-ddd: #ddd;
  --gray-eee: #eee;
  --gray-333: #333;
  --gray-777: #777;

  // BLUE scale -------------
  --gray-blue: #4a6070;
  --dark-blue: #001f36;
  --main-blue: #e9f1f5;
  --hover-blue: #004374;
  --middle-blue: #8cd3f1;
  --light-blue: #e9f1f5;
  --super-light-blue: #f0f7fc;
  
  // LINK & TEXT ----------
  --text-color: #e5eef3;
  --link: #0099ff;
  --active-background: #0099ff;
  --active-border: #ff8c00;
  --text-error: #ff2400;
  
  // LOGO & CONTRAST----------
  --logo: #ff8c00;
  --hover-green: #3cc284;


  // INPUTS ------------------
  --input-txt: #e9eff1;
  --input-placeholder: #8299a1;
  --input-border: ;
  --input-background: #0c244152;
  --input-focus-background: #38669e52;
  --input-disabled-border: ;
  --input-disabled-text-color: ;

  // BTNs --------------------
  --btn-background: #0099ff;
  --btn-text-hover: #eee;
  --btn-background-hover: #004a80;

  // GRADIENT ------------
  --gradient-180: linear-gradient(
    180deg,
    #001423 0%,
    #00294d 96%,
    #004180 99%,
    #0055aa 100%
  );
  --gradient-360: linear-gradient(
    360deg,
    #001423 0%,
    #00294d 96%,
    #004180 99%,
    #0055aa 100%
  ); */
}

* {
  box-sizing: border-box;
}

body {
  padding-top: 4rem;
  color: var(--text-color);
  margin: 0;
  box-sizing: border-box;
  font-family: var(--type-first);
  font-size: 1rem;
  background: var(--body-background);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}
button,
input {
  display: block;
  font-size: 1rem;
  font-family: var(--type-first);
  color: var(--gray-333);
}
a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.2s;
}
a:hover {
  color: var(--a-hover);
}
.container {
  max-width: 90vw;
  padding: 2rem 1rem;
  margin: 0 auto;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 4rem);
  animation: opacity forwards 0.6s;
}
.appBody {
  flex: 1;
  margin-bottom: 4rem;
}
.disabled {
  cursor: not-allowed;
}
.animate {
  animation: animaTop 0.6s forwards;
}
.pLoading {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--gray-blue);
}
.title {
  margin-bottom: 2rem;
}

/* .title::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background: var(--middle-blue);
  border-radius: 0.4rem;
  top: 26px;
  z-index: -10;
} */

@keyframes animaTop {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
